Source: le-multiterminal
Section: misc
Priority: optional
Maintainer: C3SL <contato@c3sl.ufpr.br>
Uploaders: Stephanie Briere Americo <sba16@c3sl.ufpr.br>
Build-Depends: debhelper (>=9), libx11-dev, libcairo2-dev
Standards-Version: 3.9.7
Vcs-Git: https://gitlab.c3sl.ufpr.br/le6/le-multiterminal.git

Package: le-multiterminal
Architecture: amd64
Pre-Depends: lightdm 
Depends: ${misc:Depends}, ${shlibs:Depends}, curl, xserver-xorg-video-siliconmotion-hwe-16.04, compton, numlockx, xserver-xephyr-hwe-16.04, systemd, policykit-1-gnome, libcairo2, pciutils
Description: Multiterminal Solution compatible with the system Linux Educational 6
 Multi-terminal solution compatible with Linux Educational system 6. 
 The multi-terminal system configures up to three monitors simultaneously on 
 the same machine.
 The solution relies heavily on the TN-502 video card and the Thinnetworks 
 Hubs, available on the 83/2008 and 71/2010 sessions of the Brazilian federal 
 government.
