# Script adapted from Laércio de Sousa <laerciosousa@sme-mogidascruzes.sp.gov.br>

ACTION=="remove", GOTO="seat_end"

SUBSYSTEM=="usb", TAG=="master-of-seat", ENV{ID_SEAT}=="", RUN+="/usr/sbin/seat-attach-assistant $devpath $env{ID_PATH_TAG}"

LABEL="seat_end"
