# Script adapted from Laércio de Sousa <laerciosousa@sme-mogidascruzes.sp.gov.br>

[Unit]
Description=Socket for Xorg server at display :90

[Socket]
ListenStream=/tmp/.X11-unix/X90

[Install]
WantedBy=sockets.target
